.header {
    @include flex(center, center);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #000;

    &-title {
        font-family: $second-family;
        font-weight: 600;
        @include adaptive-value('font-size', 70, 38);
        width: 700px;
        line-height: 115%;
        color: #fff;
        text-align: center;
        margin: 0 auto;

        @media screen and (max-width: 630px) {
            width: 100%;
        }
    }

    &-link {
        @include flex(center, center);
        width: 200px;
        margin: 0 auto;
        font-family: $second-family;
        font-size: 17px;
        background-color: #01A0DA;
        letter-spacing: 0.60px;
        color: #fff;
        padding: 13px 22px;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;

        &:hover {
            opacity: 0.9;
        }
    }

    &-separate {
        color: rgb(38, 63, 96);
    }

    &-subtitle {
        font-family: $second-family;
        font-weight: 500;
        @include adaptive-value('font-size', 18, 16);
        width: 480px;
        text-align: center;
        margin: 0 auto;
        line-height: 171%;
        color: #6b6b6b;
        margin-bottom: 20px;
        margin-top: 12px;

        @media screen and (max-width: 630px) {
            width: 100%;
        }
    }

    &-img {
        width: 550px;

        @media screen and (max-width: 1270px) {
            width: 450px;
        }

        @media screen and (max-width: 957px) {
            display: none;
        }
    }
}