.header{
    @media screen and (max-width: 957px){
        padding-top: 130px; 
        height: 80vh;
    }

    &-content{
        @include flex(center, space-between);
    }

    &-title{
        font-family: $second-family;
        font-weight: 600;
        @include adaptive-value('font-size', 65, 38);
        width: 700px;
        line-height: 115%;
        color: #2b2b2b;

        @media screen and (max-width: 1270px){
            width: 600px;
        }
        @media screen and (max-width: 1170px){
            width: 100%;
        }

        @media screen and (max-width: 957px){
            width: 700px;
        }

        @media screen and (max-width: 750px){
            width: 100%;
        }
    }

    &-link{
        font-family: $second-family;
        font-size: 17px;
        background-color: rgb(38, 63, 96);
        letter-spacing: 0.60px;
        color: #fff;
        padding: 13px 22px;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
        &:hover{
            opacity: 0.9;
        }
    }

    &-separate{
        color: #008080;
    }

    &-subtitle{
        font-family: $second-family;
        font-weight: 500;
        @include adaptive-value('font-size', 18, 16);
        width: 480px;
        line-height: 171%;
        color: #575757;
        margin-bottom: 20px;
        margin-top: 12px;

        @media screen and (max-width: 527px){
            width: 100%;
            padding-top: 7px;
        }
    }

    &-img{
        width: 550px;

        @media screen and (max-width: 1270px){
            width: 450px;
        }

        @media screen and (max-width: 957px){
            display: none;
        }
    }
}