.admin {
    &-items {
        @include flex(center, center);
        height: 100vh;
        flex-direction: column;
        gap: 16px;
    }

    &-title{
        font-family: $font-family;
        font-size: 23px;
    }

    &-input{
        padding: 14px 15px;
        outline: none;
        font-size: 18px;
        width: 350px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

    &-btn{
        padding: 12px 50px;
        font-size: 16px;
        border: 1px solid #000;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: #000;
            color: #ccc;
        }
    }
}