.contact{
    margin: 120px 0;
    &-content{
        border-radius: 35px 8px;
        background: #CBE6FE;  
        padding: 0 50px;
        @include flex(center, space-between);

        @media screen and (max-width: 1120px){
            flex-direction: column-reverse;
            justify-content: center;
            padding: 0 0 50px 0;
        }

        @media screen and (max-width: 730px){
            padding: 40px 40px 50px 40px;
        }

    }

    &-items{
        @media screen and (max-width: 1120px){
            @include flex(center, center);
            flex-direction: column;
        }

    }

    &-img{
        @include adaptive-value('width', 500, 450);

        @media screen and (max-width: 500px){
            width: 100%;
        }

    }

    &-title_items{
        @include flex(center, unset);
        gap: 24px;
        @media screen and (max-width: 1120px){
            display: none;
        }

    }

    &-title{
        font-family: $second-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 175%;
        text-transform: uppercase;
        color: #000;
    }

    &-title_line{
        border: 2px solid rgb(86, 166, 235);
        width: 96px;
        height: 0px;
    }

    &-main_title{
        font-family: $second-family;
        font-weight: 700;
        @include adaptive-value('font-size', 42, 34);
        line-height: 128%;
        color: #000;
        margin-top: 50px;
        width: 450px;
        @media screen and (max-width: 1120px){
            margin-top: 0;
        }

        @media screen and (max-width: 730px){
            width: 100%;
            text-align: center;
        }
    }

    &-inputs{
        @include flex(center, unset);
        gap: 8px;
        margin-top: 50px;
        padding-bottom: 20px;

        @media screen and (max-width: 680px){
            flex-direction: column;
            gap: 15px;
            width: 100%;
        }
    }

    &-input{
        border-radius: 4px;
        width: 343px;
        height: 45px;
        background: #fff;
        border: none;
        font-family: $font-family;
        font-weight: 600;
        font-size: 18px;
        line-height: 147%;
        color: #7e7e7e;
        outline: none;
        padding: .875rem 1.125rem;
        @media screen and (max-width: 680px){
            width: 100%;
        }
    }

    &-btn{
        border-radius: 4px;
        width: 181px;
        height: 45px;
        border: none;
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 147%;
        color: #fff;
        background: #01A0DA;
        @media screen and (max-width: 680px){
            width: 100%;
        }
    }

    &-subtitle{
        font-family: $second-family;
        font-weight: 500;
        font-size: 18px;
        color: gray;
        margin-top: 30px;

        @media screen and (max-width: 730px){
            text-align: center;
        }

    }

    &-error{
        font-family: $font-family;
        font-size: 16px;
        font-weight: 600;
        color: red;
        margin-top: 20px;

        &.show{
            color: green;
        }
    }
}