.not-found {
    background-color: #000;
    margin-bottom: 30px;
    &_content {
        @include flex(center, center);
        height: 100vh;
        flex-direction: column;
        width: 100%;
    }

    &_title{
        font-family: $font-family;
        @include adaptive-value('font-size', 45, 35);
        font-weight: 600;
        letter-spacing: 0.78px;
        padding-bottom: 20px;
        width: 100%;
        color: #fff;
        text-align: center;
    }

    &_link{
        font-family: $font-family;
        @include adaptive-value('font-size', 18, 16);
        border: 1px dashed #ccc;
        color: #fff;
        padding: 12px 24px;
        border-radius: 6px;
    }

}