.projects {
    &-img {
      width: 100%;
      border-radius: 8px;
      height: 300px;
      object-fit: cover;
    }
  
    &-cards {
      @include flex(center, unset);
      gap: 30px;
      padding: 0 20px;
      flex-wrap: wrap;
  
      @media screen and (max-width: 500px) {
        justify-content: center;
        padding: 0;
      }
    }
  
    &-card {
      width: 350px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;
      position: relative;
      overflow: hidden;
  
      &:hover {
        transform: translateY(-5px);
        cursor: pointer;
  
        .projects-items {
          bottom: 0; 
          opacity: 1;
          visibility: visible;
        }
      }
    }
  
    &-items {
      position: absolute;
      bottom: -50px; 
      left: 0;
      right: 0;
      background-color: rgb(1 160 218);
      height: 60px;
      @include flex(center, space-between);
      padding: 0 20px;
      border-radius: 0 0 8px 8px;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }
  
    &-name {
      color: #fff;
      font-family: $second-family;
    }

    &-title {
        border-radius: 4px;
        width: 162px;
        height: 35px;
        background: rgb(86, 166, 235);
        font-family: $font-family;
        font-weight: 600;
        @include flex(center, center);
        font-size: 18px;
        @include adaptive-value('font-size', 18, 16);
        line-height: 175%;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 13px;
    }

    &-subtitle {
        font-family: $second-family;
        font-weight: 700;
        @include adaptive-value('font-size', 40, 37);
        line-height: 128%;
        color: #1e1e1e;
        margin-bottom: 20px;

    }
  }
  