.service {
    padding: 100px 0;
    margin: 100px 0;
    background-color: #00808008;

    &-content {
        @include flex(center, space-between);
        gap: 30px;

        @media screen and (max-width: 900px){
            flex-direction: column;
            justify-content: center;
        }
    }

    &-img {
        width: 180px;
        border-radius: 6px;

        @media screen and (max-width: 1228px){
            width: 160px;
        }

        @media screen and (max-width: 1124px){
            width: 130px;
        }

        @media screen and (max-width: 900px){
            width:200px;
        }

        @media screen and (max-width: 635px){
            width: 150px;
        }

        @media screen and (max-width: 490px){
            width: 100px;
        }


    }

    &-images_group {
        @include flex(center, center);
        gap: 6px;
        @media screen and (max-width: 900px){
            width: 100%;
        }
    }

    &-images {
        @include flex(center, center);
        flex-direction: column;
        gap: 6px;
        @media screen and (max-width: 900px){
            width: 100%;
        }
    }

    &-texts {
        @include flex(start, center);
        flex-direction: column;
        gap: 14px;

        @media screen and (max-width: 900px){
            align-items: center;
            justify-content: center;
            padding: 20px 0;
        }

    }

    &-title {
        font-family: $font-family;
        @include adaptive-value('font-size', 30, 24);
        font-weight: 600;
        color: $nd-primary-900;
        letter-spacing: 0.70px;

        @media screen and (max-width: 900px){
            text-align: center;
        }
    }

    &-subtitle {
        font-family: $font-family;
        font-size: 18px;
        @include adaptive-value('font-size', 18, 16);
        width: 550px;
        font-weight: 600;
        letter-spacing: 0.70px;
        font-style: italic;
        color: #000000a1;

        @media screen and (max-width: 1016px){
            width: 100%;
        }

        @media screen and (max-width: 900px){
            text-align: center;
        }

    }

    &-link {
        @include flex(center, center);
        gap: 10px;
        font-family: $font-family;
        font-size: 18px;
        @include adaptive-value('font-size', 18, 15);
        background-color: #01A0DA;
        color: #fff;
        padding: 12px 25px;
        border-radius: 6px;
        transition: all 0.2s ease-in-out;

        &:hover {
            opacity: 0.9;
        }
    }

    &-items {
        @include flex(center, space-between);
        width: 100%;
        padding-top: 70px;

        @media screen and (max-width: 1124px){
            padding-top: 20px;
        }

        @media screen and (max-width: 1124px){
            padding-top: 40px;
        }

        @media screen and (max-width: 1124px){
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
        }
    }

    &-item {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 25px 17px;
        width: 150px;
        @include flex(center, center);
        flex-direction: column;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #01A0DA;

            & h1 {
                color: #fff;
            }

            & svg{
                fill: #fff;
            }
        }

        &_title {
            font-family: $font-family;
            font-size: 18px;
            padding-top: 10px;
            font-weight: 500;
            text-align: center;
            color: #000;
        }
    }

}