.service {
    padding-top: 100px;

    &-card {
        @include flex(center, space-between)
    }

    &-card_title {
        border-radius: 4px;
        width: 186px;
        @include flex(center, center);
        height: 35px;
        padding: 0 5px;
        background: rgba(32, 207, 198, 0.08);
        font-family: $font-family;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #008080;
    }

    &-title {
        font-family: $second-family;
        font-weight: 700;
        font-size: 44px;
        width: 600px;
        line-height: 128%;
        color: #1e1e1e;
        padding: 14px 0;
    }

    &-card_subtitle {
        font-family: $second-family;
        font-weight: 500;
        font-size: 16px;
        line-height: 175%;
        color: #575757;
        width: 550px;
        text-align: justify;
        padding-bottom: 34px;
    }

    &-link {
        font-family: $second-family;
        font-weight: 600;
        font-size: 18px;
        line-height: 147%;
        color: #1e1e1e;
        border: 2px solid #d5dddd;
        border-radius: 4px;
        width: 239px;
        height: 76px;
        padding: 8px;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: #d5dddd;
        }
    }
}