@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-family: "Public Sans", sans-serif;
$second-family: "Inter", sans-serif;
$roboto-family: "Roboto", sans-serif;
$nd-primary-900: #21212f;
$nd-primary-800: #152765;
$nd-primary-700: #1f3a98;
$nd-primary-600: #2a4eca;
$nd-primary-500: #3461fd;
$nd-primary-400: #5d81fd;
$nd-primary-300: #85a0fe;
$nd-primary-200: #aec0fe;
$nd-primary-100: #d6dfff;
$nd-primary-50: #f1f2f8;
$primary-900: #06241b; 
$primary-800: #0d4836;
$primary-700: #136c50;
$primary-600: #1a906b;
$primary-500: #20b486;
$primary-400: #4dc39e;
$primary-300: #79d2b6;
$primary-200: #a6e1cf;
$primary-100: #d2f0e7;
$primary-50: #e9f8f3;
$gray-black: #1b1d1f;
$gray-700: #363a3d;
$gray-600: #52565c;
$gray-500: #6d737a;
$gray-400: #889099;
$gray-300: #a0a6ad;
$gray-200: #b8bcc2;
$gray-100: #cfd3d6;
$gray-50: #e7e9eb;
$gray-white: #fff;
$secondary-900: #32291f;
$secondary-800: #65533e;
$secondary-700: #977c5c;
$secondary-600: #caa67b;
$secondary-500: #ffc27a;
$secondary-400: #fdd9ae;
$secondary-300: #fde2c2;
$secondary-200: #feecd7;
$secondary-100: #fef5eb;
$secondary-50: #fffaf5;
$color-background: #f0f0f0;
$color-text: #384854;
$color-meta-text: #80919b;