@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  background: inherit;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  background-color: #fff;
}

.wrapper {
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(38, 63, 96);
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.scroll {
  overflow-y: hidden;
}

.nav {
  border-bottom: 1px solid #e7e9eb;
  transition: box-shadow 0.3s ease-in-out;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.nav.scrolled {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  z-index: 99999999;
  width: 100%;
  height: 84px;
}
.nav-logo_img {
  width: 200px;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 24px;
}
@media screen and (max-width: 935px) {
  .nav-links {
    position: fixed;
    flex-direction: column;
    align-items: start;
    padding-left: 50px;
    justify-content: center;
    background-color: #fff;
    top: 0;
    width: 500px;
    left: 0;
    height: 100vh;
    z-index: 99999;
    margin: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
  }
}
.nav-links.show {
  transform: translate(0);
}
@media screen and (max-width: 500px) {
  .nav-links {
    width: 100%;
  }
}
@media screen and (max-width: 935px) {
  .nav-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6117647059);
    top: 0;
    width: 100%;
    left: 0;
    height: 100vh;
    z-index: 999;
    margin: 0;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
}
.nav-bg.show {
  opacity: 1;
  visibility: visible;
}
.nav-link {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #6d737a;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover {
  color: rgb(38, 63, 96);
}
@media screen and (max-width: 935px) {
  .nav-link {
    color: #000;
    font-size: 24px;
    letter-spacing: 0.78px;
  }
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 14px;
}
.nav-btn {
  border-radius: 8px;
  padding: 12px 24px;
  width: 168px;
  height: 48px;
  background-color: #01A0DA;
  box-shadow: 0 4px 8px rgba(1, 160, 218, 0.3), 0 6px 20px rgba(1, 160, 218, 0.2);
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  border: none;
  transition: all 0.2s ease-in-out;
}
.nav-btn:hover {
  opacity: 0.8;
}
@media screen and (max-width: 500px) {
  .nav-btn {
    display: none;
  }
}
.nav-close_btn {
  display: none;
}
@media screen and (max-width: 935px) {
  .nav-close_btn {
    display: block;
    position: absolute;
    top: 34px;
    color: #000;
    border: none;
    right: 30px;
    font-size: 30px;
    background-color: transparent;
  }
}
.nav-logo_mobile {
  display: none;
}
@media screen and (max-width: 935px) {
  .nav-logo_mobile {
    display: block;
    position: absolute;
    top: 0;
    border: none;
  }
}
.nav-menu_btn {
  display: none;
}
@media screen and (max-width: 935px) {
  .nav-menu_btn {
    display: block;
    color: #000;
    border: none;
    font-size: 28px;
    background-color: transparent;
    padding-top: 8px;
  }
}
@media screen and (max-width: 560px) {
  .nav-course {
    display: none;
  }
}

@media screen and (max-width: 957px) {
  .header {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 65px;
  width: 700px;
  line-height: 115%;
  color: #2b2b2b;
}
@media (max-width: 1260px) {
  .header-title {
    font-size: calc(38px + 27 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 1270px) {
  .header-title {
    width: 600px;
  }
}
@media screen and (max-width: 1170px) {
  .header-title {
    width: 100%;
  }
}
@media screen and (max-width: 957px) {
  .header-title {
    width: 700px;
  }
}
@media screen and (max-width: 750px) {
  .header-title {
    width: 100%;
  }
}
.header-link {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  background-color: #01A0DA;
  letter-spacing: 0.6px;
  color: #fff;
  padding: 13px 22px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.header-link:hover {
  opacity: 0.9;
}
.header-separate {
  color: rgb(38, 63, 96);
}
.header-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 480px;
  line-height: 171%;
  color: #575757;
  margin-bottom: 20px;
  margin-top: 12px;
}
@media (max-width: 1260px) {
  .header-subtitle {
    font-size: calc(16px + 2 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 527px) {
  .header-subtitle {
    width: 100%;
    padding-top: 7px;
  }
}
.header-img {
  width: 550px;
}
@media screen and (max-width: 1270px) {
  .header-img {
    width: 450px;
  }
}
@media screen and (max-width: 957px) {
  .header-img {
    display: none;
  }
}

.footer {
  padding-bottom: 50px;
}
.footer-img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 734px) {
  .footer-img {
    display: none;
  }
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 734px) {
  .footer-content {
    flex-direction: column;
    gap: 24px;
  }
}
.footer-logo_title {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.footer-title {
  font-family: "Public Sans", sans-serif;
  font-size: 18 px;
  font-weight: 400;
  width: 500px;
  text-align: center;
  color: #656869;
  letter-spacing: 0.6px;
}
@media screen and (max-width: 540px) {
  .footer-title {
    width: 100%;
  }
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 10px;
}

.service {
  padding: 100px 0;
  margin: 100px 0;
  background-color: rgba(0, 128, 128, 0.031372549);
}
.service-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 900px) {
  .service-content {
    flex-direction: column;
    justify-content: center;
  }
}
.service-img {
  width: 180px;
  border-radius: 6px;
}
@media screen and (max-width: 1228px) {
  .service-img {
    width: 160px;
  }
}
@media screen and (max-width: 1124px) {
  .service-img {
    width: 130px;
  }
}
@media screen and (max-width: 900px) {
  .service-img {
    width: 200px;
  }
}
@media screen and (max-width: 635px) {
  .service-img {
    width: 150px;
  }
}
@media screen and (max-width: 490px) {
  .service-img {
    width: 100px;
  }
}
.service-images_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
@media screen and (max-width: 900px) {
  .service-images_group {
    width: 100%;
  }
}
.service-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
@media screen and (max-width: 900px) {
  .service-images {
    width: 100%;
  }
}
.service-texts {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}
@media screen and (max-width: 900px) {
  .service-texts {
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
}
.service-title {
  font-family: "Public Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #21212f;
  letter-spacing: 0.7px;
}
@media (max-width: 1260px) {
  .service-title {
    font-size: calc(24px + 6 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 900px) {
  .service-title {
    text-align: center;
  }
}
.service-subtitle {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-size: 18px;
  width: 550px;
  font-weight: 600;
  letter-spacing: 0.7px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.631372549);
}
@media (max-width: 1260px) {
  .service-subtitle {
    font-size: calc(16px + 2 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 1016px) {
  .service-subtitle {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .service-subtitle {
    text-align: center;
  }
}
.service-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-size: 18px;
  background-color: #01A0DA;
  color: #fff;
  padding: 12px 25px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1260px) {
  .service-link {
    font-size: calc(15px + 3 * (100vw - 320px) / 940);
  }
}
.service-link:hover {
  opacity: 0.9;
}
.service-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 70px;
}
@media screen and (max-width: 1124px) {
  .service-items {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1124px) {
  .service-items {
    padding-top: 40px;
  }
}
@media screen and (max-width: 1124px) {
  .service-items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}
.service-item {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 25px 17px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.service-item:hover {
  background-color: #01A0DA;
}
.service-item:hover h1 {
  color: #fff;
}
.service-item:hover svg {
  fill: #fff;
}
.service-item_title {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
  text-align: center;
  color: #000;
}

.projects-img {
  width: 100%;
  border-radius: 8px;
  padding: 20px;
}
.projects-cards {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 30px;
  padding: 0 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .projects-cards {
    justify-content: center;
    padding: 0;
  }
}
.projects-card {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.projects-card:hover {
  transform: translateY(-12px);
  cursor: pointer;
}
.projects-title {
  border-radius: 4px;
  width: 162px;
  height: 35px;
  background: rgb(86, 166, 235);
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-size: 18px;
  line-height: 175%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 13px;
}
@media (max-width: 1260px) {
  .projects-title {
    font-size: calc(16px + 2 * (100vw - 320px) / 940);
  }
}
.projects-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 128%;
  color: #1e1e1e;
  margin-bottom: 20px;
}
@media (max-width: 1260px) {
  .projects-subtitle {
    font-size: calc(37px + 3 * (100vw - 320px) / 940);
  }
}
.projects-items {
  background-color: rgb(1, 160, 218);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 0 0 8px 8px;
}
.projects-name {
  color: #fff;
  font-family: "Inter", sans-serif;
}

.contact {
  margin: 120px 0;
}
.contact-content {
  border-radius: 35px 8px;
  background: #CBE6FE;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1120px) {
  .contact-content {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 0 50px 0;
  }
}
@media screen and (max-width: 730px) {
  .contact-content {
    padding: 40px 40px 50px 40px;
  }
}
@media screen and (max-width: 1120px) {
  .contact-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.contact-img {
  width: 500px;
}
@media (max-width: 1260px) {
  .contact-img {
    width: calc(450px + 50 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 500px) {
  .contact-img {
    width: 100%;
  }
}
.contact-title_items {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 24px;
}
@media screen and (max-width: 1120px) {
  .contact-title_items {
    display: none;
  }
}
.contact-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 175%;
  text-transform: uppercase;
  color: #000;
}
.contact-title_line {
  border: 2px solid rgb(86, 166, 235);
  width: 96px;
  height: 0px;
}
.contact-main_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 128%;
  color: #000;
  margin-top: 50px;
  width: 450px;
}
@media (max-width: 1260px) {
  .contact-main_title {
    font-size: calc(34px + 8 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 1120px) {
  .contact-main_title {
    margin-top: 0;
  }
}
@media screen and (max-width: 730px) {
  .contact-main_title {
    width: 100%;
    text-align: center;
  }
}
.contact-inputs {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 8px;
  margin-top: 50px;
  padding-bottom: 20px;
}
@media screen and (max-width: 680px) {
  .contact-inputs {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
}
.contact-input {
  border-radius: 4px;
  width: 343px;
  height: 45px;
  background: #fff;
  border: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 147%;
  color: #7e7e7e;
  outline: none;
  padding: 0.875rem 1.125rem;
}
@media screen and (max-width: 680px) {
  .contact-input {
    width: 100%;
  }
}
.contact-btn {
  border-radius: 4px;
  width: 181px;
  height: 45px;
  border: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 147%;
  color: #fff;
  background: #01A0DA;
}
@media screen and (max-width: 680px) {
  .contact-btn {
    width: 100%;
  }
}
.contact-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: gray;
  margin-top: 30px;
}
@media screen and (max-width: 730px) {
  .contact-subtitle {
    text-align: center;
  }
}
.contact-error {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 88, 88);
  margin-top: 20px;
}
.contact-error.show {
  color: green;
}

.about {
  padding-top: 50px;
}
.about-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 1240px) {
  .about-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1240px) {
  .about-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.about .about-icon {
  display: inline-block;
  width: 88px;
  height: 88px;
  background-color: #F0FBFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-icon svg {
  width: 50px;
  height: 46px;
}
.about-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 26px;
  font-size: 26px;
  line-height: 128%;
  color: #1e1e1e;
  padding: 12px 0;
}
@media (max-width: 1260px) {
  .about-title {
    font-size: calc(22px + 4 * (100vw - 320px) / 940);
  }
}
.about-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  color: #575757;
  width: 380px;
}
@media (max-width: 1260px) {
  .about-subtitle {
    font-size: calc(15px + 3 * (100vw - 320px) / 940);
  }
}
@media screen and (max-width: 1240px) {
  .about-subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .about-subtitle {
    width: 100%;
  }
}

.loader {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}
.not-found_title {
  font-family: "Public Sans", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 0.78px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}
@media (max-width: 1260px) {
  .not-found_title {
    font-size: calc(35px + 10 * (100vw - 320px) / 940);
  }
}
.not-found_link {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  border: 1px dashed #000;
  padding: 12px 24px;
  border-radius: 6px;
}
@media (max-width: 1260px) {
  .not-found_link {
    font-size: calc(16px + 2 * (100vw - 320px) / 940);
  }
}

.admin-items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.admin-buttons {
  display: flex;
  align-items: center;
  justify-content: unset;
}/*# sourceMappingURL=Main.css.map */